{
  "comments": false,
  "production": {
    "presets": [
      ["env", { "modules": false }],
      "stage-2"
    ],
    "plugins": [
      "transform-decorators-legacy",
      "transform-class-properties"
    ]
  }
}
