@charset 'utf-8';


/* Clearfix
---------------------------------------- */
@define-mixin clearfix {
  &::after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
  }
}


/* iOS touch
---------------------------------------- */
@define-mixin disableTouch {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}


/* Hover
---------------------------------------- */
@define-mixin hover {
  transition: opacity .1s;

  &:hover {
    opacity: .8;
  }
}


/* Font antialiased
---------------------------------------- */
@define-mixin antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* PC columns
---------------------------------------- */
@define-mixin columnPcMain {
  box-sizing: border-box;
  width: $max-width;
  margin-right: auto;
  margin-left: auto;
}


/*
 * @name line-clamp
 * @param line number
 */
@define-mixin line-clamp $line {
  display: -webkit-box;
  overflow: hidden;
  flex-direction: column;
  -webkit-line-clamp: $line;
}


/*
 * @name line-clamp-single
 */
@define-mixin line-clamp-single {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
