@charset "utf-8";
// Clearfix
%group {
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    font-size: 0;
  }
}

// touch cllout for iOS devices
%disableTouch {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

// hover to transparent
%hover {
  transition: opacity .1s;
  &:hover {
    opacity: .7;
  }
}
