@charset 'utf-8';
// Clearfix
%group {
  &:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
  }
}

// touch cllout for iOS devices
%disableTouch {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

// font-smoothing
%fontSmoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// hover to transparent
%hover {
  transition: opacity .1s;
  &:hover {
    opacity: .7;
  }
}
