@charset "utf-8";
$imgPath          : "shared/images/";

// font-family
$fontFamily        : "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Arial", "Verdana", "sans-serif";
$fontCode          : monospace, "ＭＳ Ｐ ゴシック","MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;

// Colum Base Width
$maxWidth          : 940px;

// Basic Colors
$colorBlue         : #3595BE;
// Text Colors
$colorText         : #555555;
$colorSubText      : #666;
$colorTitle        : #555555;
$colorLink         : darken($colorBlue, 12%);
$colorLinkHover    : lighten($colorBlue, 9%);
$colorSelection    : #accef7;
