@charset "utf-8";
//***********************
// disable margin offset
//
// @param margin direction
//***********************
@mixin marginForce($direction: both) {
  @if ($direction == 'top' or $direction == 'both' ) {
    &:before {
      @extend %marginForce;
    }
  }
  @if ($direction == 'bottom' or $direction == 'both') {
    &:after {
      @extend %marginForce;
    }
  }
}
%marginForce {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  font-size: 0;
}

//***********************
// Centering using position absolute
//
// @param boolen horizontal
// @param boolen vertical
//***********************
@mixin fixMiddle($x: middle, $y: middle, $top: 0, $right: 0, $bottom: 0, $middle: 0, $position: absolute) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  @if ($x) {
    margin-right: 0;
    margin-left: 0;
  }
  @if ($y) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

//***********************
// imageReplace
//
// @param image file name
// @param image width
// @param image height
// @param appeared scale for retina
// @param background-position
// @param background-size
// @param background-repeat
//***********************
@mixin imageReplace($path, $imgWidth, $imgHeight, $scale: 1, $position: 0 0, $size: 100%, $repeat: no-repeat) {
  display: block;
  overflow: hidden;
  padding-top: $imgHeight * $scale;
  width: $imgWidth * $scale;
  height: 0;
  background-image: url($filePath + $path);
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

//***********************
// Sprite css image replacement
//
// @param $sprited original file name
// @param appeared scale for retina
// @param display
//***********************
@mixin sprite-ir($sprite, $scale: 1, $display: block) {
  @include sprite-image($sprite);
  $sprite-offset-x: nth($sprite, 3) * $scale;
  $sprite-offset-y: nth($sprite, 4) * $scale;
  background-position: $sprite-offset-x  $sprite-offset-y;
  display: $display;
  overflow: hidden;
  padding-top: nth($sprite, 6) * $scale;
  width: nth($sprite, 5) * $scale;
  height: 0;
  background-repeat: no-repeat;
  background-size: nth($sprite, 7) * $scale nth($sprite, 8) * $scale;
}

//***********************
// use iconfont
// @link https://github.com/FortAwesome/Font-Awesome
//
// @param font-family
// @param content
// @param font-size
// @param vartical-align
// @param position
// @param display
// @param line-height
//***********************
@mixin iconfont($font-family: '',  $content: '', $fontsize: 1em, $valaign: baseline, $position: static, $display: inline-block, $line-height: 1em) {
  position: $position;
  display: $display;
  content: $content;
  vertical-align: $valaign;
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  font-size: $fontsize;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

//***********************
// use icomoon
// @link https://github.com/FortAwesome/Font-Awesome
//
// @param content
// @param font-size
// @param vartical-align
// @param position
// @param display
// @param line-height
//***********************
@mixin icomoon($content: '', $fontsize: 1em, $valaign: baseline, $line-height: 1, $position: static, $display: inline-block) {
  @extend .icon-#{$content}:before;
  position: $position;
  display: $display;
  vertical-align: $valaign;
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  font-size: $fontsize;
  font-family: 'icomoon';
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
}

//***********************
// Triangle
//
// @param string direction
// @pram numeric width
// @param numeric height
// @param hex or rgba color
//***********************
@mixin triangle($direction, $width, $height, $color) {
  width: 0;
  height: 0;
  @if $direction == 'up' {
    border-right: $height / 2 solid transparent;
    border-bottom: $width solid $color;
    border-left: $height / 2 solid transparent;
  } @else if $direction == 'down' {
    border-top: $width solid $color;
    border-right: $height / 2 solid transparent;
    border-left: $height / 2 solid transparent;
  } @else if $direction == 'left' {
    border-top: $height / 2 solid transparent;
    border-right: $width solid $color;
    border-bottom: $height / 2 solid transparent;
  } @else if $direction == 'right' {
    border-top: $height / 2 solid transparent;
    border-bottom: $height / 2 solid transparent;
    border-left: $width solid $color;
  }
}

//***********************
// Cornered Triangle
//
// @param string direction
// @pram numeric size
// @param hex or rgba color
//***********************
@mixin corner-triangle($corner, $size, $color) {
  width: 0;
  height: 0;
  @if $corner == 'top-left' {
    border-top: $size solid $color;
    border-right: $size solid transparent;
  } @else if $corner == 'top-right' {
    border-top: $size solid $color;
    border-left: $size solid transparent;
  } @else if $corner == 'bottom-left' {
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  } @else if $corner == 'bottom-right' {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
  }
}
