@charset 'utf-8';
/* l-table
---------------------------------------- */
.l-table {
  display: table;
  width: 100%;
  table-layout: fixed;
  .l-table__row {
    display: table-row;
  }
  .l-table__cell {
    display: table-cell;
  }
}
