@charset "utf-8";
// ========================================
// core files
// ========================================
@import 'core/config';
@import 'core/mixins';
@import 'core/default';
// @import 'core/settings';
// @import 'core/foundation';

// ========================================
// modules
// ========================================
@import 'module/*.*';

// ========================================
// layouts
// ========================================
@import 'layout/*.*';
